
.title-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 1px;
}

.botao-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

body{
    background-color: rgb(43, 139, 139);
}

.white{
    color: white;
}

.servicos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.opniao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
    margin-right: 230px;
    padding: 10px;
}

.enviar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.botao-entrar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.direito{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
}